.shareForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  align-items: center;
}

.shareList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.shareList li {
  display: flex;
  flex-direction: column;
}

.shareMethod {
  display: flex;
}

.hiddenRadio {
  display: none;
}

.radioIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px;
  padding: 30px;
  border: 1px solid lightgrey;
}

input:checked + label {
  border-color: black;
}