.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px;
}

.card-thumbnail {
  width: 363px;
  height: 242px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.card-location {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.card-receive {
  margin-left: 10px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.card-title {
  font-size: 19px;
  line-height: 22px;
  color: #484848;
  font-weight: 700;
}

.info {
  margin-bottom: 5px;
}

.card-tags {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #484848;
  font-weight: 300;
}
.card-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.link-item {
  text-decoration: none;
  color: black;
}
